.vs
bin
obj
NuGet
.idea
nuget-local
dotnet-install.sh
*.nupkg
docfx/metadata
docfx/api
local-nuget-packages/
local-nuget/
runtimes/

cmake-build-debug-mingw/
cmake-build-debug-msvc/

*.jwt
Samples/**/*.json
*.snupkg

weather.demo.json
**/*.user

TestResults
launchSettings.json
.runsettings
Samples/Properties
TestProject/Properties
.run
ZitiNativeApiForDotnetCore/Testing/
# OpenZiti.NET.Native local artifacts
artifacts/
**/bin/
**/obj/
incoming/

third_party
